#home{
    margin: 10% 20%;
}
#search{
    width: 80%;
    height: 50%;
    color: #FF6347;
  }
  
  #search input{
    margin: 1% 1%;
    width: 80%;
  
    background: #FFFFFF;
    border-radius: 10px;
    border-style: none;
  }