.horizontal{
    width: 100%;
    display:flex;
}
.horizontal>button{
    margin: auto;
    left: 0px !important;
}

#ingredients{
    display: flex;
}


/*ingredient quantity*/
#ingredients input:nth-child(2){
    width: 5em;
    margin: 0px 1em;
}

/*ingredient quantity*/
#ingredients input:nth-child(2){
    width: 5em;
}